@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: "Public Sans", sans-serif;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.active {
  color: #90e900;
}
.scene {
  width: 100%;
  perspective: 600px;
}

.common {
  transition: all 0.5s ease-in-out;
}

.lean {
  width: 80%;
  height: 100%;
  transform: rotateX(45deg);
}

.normal {
  width: 100%;
  height: 100%;
  transform: rotateX(0deg);
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* stack cards */
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 100px 0 20px;
  padding: 0 40px;
}

.first-card {
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;

  z-index: 0;
  width: 100%;
}

.first-card .title {
  font-size: 2rem;
  padding: 1.45rem;
}

.card {
  position: sticky;
  max-width: 1280px;
  width: 95%;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 220px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  background: #172029;
  border: 1px solid #ddd;
}

#sidebar {
  transition: width 2s ease;
  display: block;
  width: 0;
}
#sidebar.yourActiveClass {
  width: auto;
}
